　　<div class="row">
  <div class="col-md-12">
    <div class="top-image" id="search-top">
    </div>
  </div>
</div>
<div class="main-title">
  <%= icon("fas", "search", class: "seach-icon") %>
  どの推しを探す？
</div>
<%= form_tag(search_posts_path, :method => 'get') do %>
  <div class="field row">
  探したい推しの名前、もしくはグループ名を入力しよう！
    <%= text_field_tag :search %>
  </div>
  <div class="col-md-2 post-btn">
    <%= submit_tag 'Search', :name => nil %>
  </div>
<% end %>

<div class="main-title"><%= icon('far', 'thumbs-up') %>いいね！TOP5</div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="contents-video">
            <iframe class="contents-video-iframe" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allowfullscreen ></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contents-data">
            <div class="more">
            <span><%= icon('fas', 'info-circle') %></span>
              <ul class="more_list">
                <li>
                  <%= link_to "詳細", "/posts/#{post.id}, method:get ", method: :get%>
                </li>
              </ul>
            </div>

            <div class="ranking">
            第 <%= i %> 位！
            </div>
            <div class="contents-title">
            誰ですか？？
            <br><%= post.title %>
            </div>
            <div class="contents-v-box">
              <div class="contents-image">
                <% if post.user.image? %>
                  <img src="<%= post.user.image %>" alt="face" width="30" height="30">
                <% else %>
                  <%= image_tag "default.png", width:30, height:30 %>
                <% end %>
              </div>
              <div class="contents-name">
                <%= post.user.name %>
              </div>
              <div class="contents-time">
                <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </div>
            <div class="contents-reason">
              推した理由は？？<br>
              <%= simple_format post.reason %>
            </div>
          </div>
        </div>
      </div> 
    </div>
  <% end %>
</div>