    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <%= link_to "", root_path, id: "logo" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to icon('fab', 'youtube') + " 投稿一覧", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to icon('fas', 'thumbs-up') + "いいね!TOP5", goodranking_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to icon('fas', 'flag') + " カテゴリー", '#', class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="/kpop" class="dropdown-item"><span class="flag-icon flag-icon-kr"></span>K-POP</a>
                <a href="/jpop" class="dropdown-item"><span class="flag-icon flag-icon-jp"></span>J-POP</a>
                <a href="/thaipop" class="dropdown-item"><span class="flag-icon flag-icon-th"></span>Thai-POP</a>
                <a href="/chinesepop" class="dropdown-item"><span class="flag-icon flag-icon-cn flag-icon-squared"></span><span class="flag-icon flag-icon-tw flag-icon-squared"></span>Chinese-POP</a>
                <a href="/russianpop" class="dropdown-item"><span class="flag-icon flag-icon-ru"></span>Russian-POP</a>
                <a href="/indianpop" class="dropdown-item"><span class="flag-icon flag-icon-in"></span>Indian-POP</a>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to icon('fas', 'edit') + " 投稿する",  new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to icon('fas', 'search') + " 検索する",  search_posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to icon('fas', 'user') + " #{current_user.name}さん", '#', class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to icon('fas', 'user-edit') + "アカウント編集", edit_user_registration_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to icon('fas', 'sign-out-alt') + "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to icon('fas', 'sign-in-alt') + " ログイン", user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to icon('fas', 'users') + " 新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to icon('fas', 'key') + " ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
